{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">

    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__avatar.png">
        </button>
    </header> --}}

    {{!-- <h1 class="title"> Коммьюніті </h1> --}}

    {{!-- <img class="img" src="/svg/image.png"> --}}

    {{!-- <main class="post__list">
        <div class="post button">

            <h2 class="title__second"> Що таке база знань?</h2>

            <p class="post__info"> База знаний — база данных, содержащая правила вывода и информацию о человеческом
                опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит
                информацию, являющуюся результатом решения предыдущих задач.</p>
        </div>

        <a class="button button__orange" href="#"> Перейти до ком'юніті у Телеграм</a>

    </main> --}}
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}